
<table>
<tr>
<td>
<text align ="center">	

<%= link_to 'Log in', 'login' ,{:style=>'background-color:skyblue; color:white; width:150px;padding: 6px 20px;'} %>
</td>
<td>
<%= link_to 'Sign Up', 'signup' ,{:style=>'background-color:skyblue; color:white; width:150px;padding: 6px 20px;'} %>
</td>
</tr>
</table>








